<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/product.css">
  <script defer src="js/index.js"></script>
  <script defer src="js/product.js"></script>
  <title>Glimmer Crafts</title>
</head>

{{>header}}
<div class="mainContainer">
  <div class="nameDesc">
    <img src="{{product.img}}" alt="product">

    <div class="right">
      <div class="text">
        <h4>{{product.name}}</h4>
        <p>{{product.desc}}</p>
      </div>
      <div class="price">
        <h2>{{product.price}} $</h2>
        <p>{{product.seller}}</p>
        <p>{{product.rating}}/5.0</p>
      </div>
      <div class="buttons">
        {{~#if (addFeaturedButton userData.featured product.name)}}
        <button class="addToFeatured clicked">♥</button>
        {{~else}}
        <button class="addToFeatured">♡</button>
        {{/if}}

        {{~#if (addCartButton userData.cart product.name)}}
        <button class="addToCart clicked">In cart!</button>
        {{~else}}
        <button class="addToCart">Add to cart</button>
        {{/if}}

        {{~#if (addSellerButtons userData.added product.name)}}
        <button class="deleteProd">Delete</button>
        <button class="editProd"><i class="bi bi-pencil-square"></i></button>
        {{/if}}
      </div>
    </div>

  </div>


  <div class="reviews">
    <h1>Reviews</h1>
    <div class="reviewCards">
      {{~#if product.reviews}}
      {{~#each product.reviews}}
      {{~#with .}}
      <div class="reviewCard">
        <div class="top">
          <h6>{{username}}</h6>
          <div class="stars">{{stars}}</div>
        </div>
        <p>{{reviewtext}}</p>
      </div>
      {{/with}}
      {{/each}}
      {{~else}}
      <h1>This product doesn't have any reviews. You can be the first!</h1>
      {{/if}}
    </div>

    <button onclick="showReview()" id="showReviewForm">Add a review for this product</button>
    <div id="addReviewForm">
      <button onclick="closeReviewForm()" class="closeButton"><i class="bi bi-x-lg"></i></button>
      <div class="reviewField">
        <textarea type="text" id="usersReview" name="usersReview" placeholder="Enter your review here..."
          required></textarea>
        <div class="stars">
          <button class="star" onclick="handleStarButtonClick(this)">☆</button>
          <button class="star" onclick="handleStarButtonClick(this)">☆</button>
          <button class="star" onclick="handleStarButtonClick(this)">☆</button>
          <button class="star" onclick="handleStarButtonClick(this)">☆</button>
          <button class="star" onclick="handleStarButtonClick(this)">☆</button>
        </div>
      </div>

      <button id="addReviewButton" onclick="addReview(this)">Add review</button>
    </div>

  </div>
</div>



<div class="container">
  <div class="signInForm">
    <button onclick="closeRegForm()" class="closeButton"><i class="bi bi-x-lg"></i></button>
    <h2>Log into an existing account</h2>
    <form id="formSignIn" action="/api/user/authorise" method="GET">
      <input type="text" id="username" name="username" placeholder="Login:" required>
      <input type="password" id="password" name="password" placeholder="Password:" required>
      <button id="signInButton" type="submit">Sign In</button>
    </form>
    <div class="switchToSignUp"><a>Don't have an account yet? Sign up!</a></div>
  </div>
</div>

<div class="container">
  <div class="signUpForm">
    <button onclick="closeRegForm()" class="closeButton"><i class="bi bi-x-lg"></i></button>
    <h2>Create an account</h2>
    <form id="formSignUp" action="/api/user/register" method="POST">
      <input type="text" id="username" name="username" placeholder="Login:" required>
      <input type="password" id="password" name="password" placeholder="Password:" required>
      <button id="signUpButton" type="submit">Sign Up</button>
    </form>
    <div class="switchToSignIn"><a>Already have an account? Sign in!</a></div>
  </div>
</div>

<div class="container">
    <div class="editProduct">
      <button onclick="closeRegForm()" class="closeButton"><i class="bi bi-x-lg"></i></button>
      <h2>Edit your product</h2>
      <div id="previewContainer">
        <h3>Preview Product Image:</h3>
        <img id="productImagePreview" src="{{product.img}}" alt="product Image">
      </div>
      <form id="editForm" action="/product/edit" method="POST" enctype="multipart/form-data">
        <input type="file" id="productImageInput" accept="image/*" name="pdPict" onchange="handleFile(this)">
        <label for="name">Enter your product's name:</label>
        <input type="text" id="name" name="name" placeholder="Product name:" value="{{product.name}}" required>
        <label for="description">Describe your product:</label>
        <textarea name="description" id="description" cols="50" rows="5" required></textarea>
        <label for="price">Enter your product's price:</label>
        <input type="number" id="price" name="price" placeholder="Product price:" value="{{product.price}}" required>
        <label for="category">Select the category of your product:</label>
        <select name="category" id="category" required>
          <option value="Necklaces">Necklaces</option>
          <option value="Earrings">Earrings</option>
          <option value="Rings">Rings</option>
          <option value="Bracelets">Bracelets</option>
          <option value="Other">Other</option>
        </select>

        <button id="editingButton" type="submit">Edit product</button>
      </form>
    </div>
</div>

{{>footer}}